#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: top
}



.cardDiv{
  display: block;
  border:  10px solid red;
  min-width: 10%;
  
  
}

.item-image{
  width: 30%
}


  
  