#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: top
}



.cardDiv {
  display: block;
  background-color: aquamarine;
  border: 25px black solid;
  padding: 2%;
  width:auto;

  height:10%
  
}

.card{
  width: fit-content;
  box-sizing: border-box;
  border-style:groove;
  margin-bottom: 10%;
  background-color: rgb(50, 30, 163);
}

.image{
  width: inherit;
  height: inher;
}  
  
  